# Arquivos de credenciais do Google, NUNCA devem ser enviados para o GitHub!
backend/google-credentials.json

# Pastas de dependências do Node.js
backend/node_modules/

# Ignorar a pasta extra que foi criada
folhas-nó-backend/

# Ignorar a pasta sheets
sheets-node-backend/